<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <title>Gerenciador de Tarefas</title>
  </head>

  <body>
    <div id="app"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        template: `
          <div class="container">
            <h1>Gerenciador de Tarefas</h1>
            <hr />
            <div class="form-gerenciador form-group">
              <p>
                <input placeholder="Tarefa" type="text" name="task" class="form-control" autofocus v-model="name" @keyup.enter="addTask"/>
              </p>
              <button type="submit" v-on:click="addTask" class="btn btn-primary">Inclui</button>
              <hr />
            </div>

            <div class="list-group">
              <div class="list-group-item" v-for="(tarefa, tarefas) in tarefas" :key="tarefa.id">
                <input class="status" type="checkbox" v-model="tarefa.status" true-value=1 false-value=0 v-on:click="updateTask(tarefa)">
                <span class="name"><strong>{{ tarefa.name }}</strong></span>

                <div>
                  <a href="#" title="Excluir" v-on:click.prevent="removeTask(tarefa)">Excluir</a>
                </div>
              </div>
            </div>
          </div>
        `,
        data() {
          return {
            tarefas: [],
            id: '',
            name: '',
            status: false
          }
        },
        mounted() {
          this.listTasks()
        },
        methods: {
          listTasks() {
            axios
              .get('http://localhost:8000/api/tasks')
              .then(resposta => (this.tarefas = resposta.data))
          },
          addTask() {
            if (this.name.trim() === '') {
              return
            }

            axios
              .post(
                'http://localhost:8000/api/tasks?name=' +
                  this.name +
                  '&status=0'
              )
              .then(resposta => (this.tarefas = resposta.data.id))

            this.listTasks()
          },
          updateTask(tarefa) {
            this.tarefa = tarefa
            this.param = { status: this.tarefa.status == 1 ? 0 : 1 }
            axios.put(
              'http://localhost:8000/api/tasks/' + this.tarefa.id,
              this.param
            )
          },
          removeTask(tarefa) {
            this.tarefa = tarefa

            axios.delete('http://localhost:8000/api/tasks/' + this.tarefa.id)
            // .then(resposta => (this.tarefas = resposta.data))
          }
        }
      })
    </script>
  </body>
</html>
